.project-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 5rem;
  position: relative;

  
  svg{
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 22px;
    opacity: 0;
    transition: 100ms;
  }
  
  &:hover{
    svg{
      opacity: 1;
    }
  }


  @media(max-width: 1100px) {
    flex-wrap: wrap;
  }

  .project-image{
    width: 300px;
    border-radius: 3px;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    

    .project-logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 7px;

      img {
        height: 44px;
      }
    }
  }
}
