.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  border-top: 3px groove #ffffff;

  .bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 36px;
    padding-right: 1px;
    padding-left: 1px;
    box-shadow: var(--border-reverse);
  }

  .taskbar-content-one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;


    .taskbar-pinned-wrapper{
      
      padding: 5px;
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover{
        box-shadow: var(--border);
      }
    }

    .spotify {
      content: url(../../assets/spotify.svg);
    }

    .vscode {
      content: url(../../assets/vscode.svg);
    }

    .ie {
      content: url(../../assets/internet_explorer.svg);
    }
  }

  .taskbar-content-two {
    display: flex;
    gap: 10px;
  }

  .start-taskbar {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--border);
    height: 36px;
    margin-left: 10px;
    padding-right: 4px;
    padding-left: 2.5px;

    .start-taskbar-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      height: 28px;
      padding-right: 7px;
      padding-left: 1px;
    }

    img {
      content: url(../../assets/start_taskbar.svg);
    }

    h3 {
      font-family: var(--font1);
    }

    &:active {
      box-shadow: var(--border-reverse);
      img,
      h3 {
        transform: translate(2px, 2px);
      }
    }

    &.clicked .start-taskbar-content {
      outline: 1px dotted #000;

      
      
    }
  }

  .time-taskbar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font1);
    height: 36px;
    padding: 0px 15px;
    margin-right: 10px;
    box-shadow: var(--border-reverse);
  }
}
