.desktop-container {
  width: 100%;
  height: 100vw;

  .desktop-apps {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 1.5rem;
    gap: 5px;

    .desktop-app {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100px;
      margin: 0 auto;

      img {
        width: 35px;
        height: 35px;
      }

      h3 {
        line-break: anywhere;
        color: var(--white);
        font-family: var(--font1);
        font-weight: 200;
        font-size: 0.7rem;
      }

      .clicked {
        background-color: var(--dark-blue);
        outline: 1px dotted var(--gray);
      }

      .notepad {
        content: url(../../assets/notepad.svg);
      }

      .folder {
        content: url(../../assets/folder.svg);
      }

      .github {
        content: url(../../assets/github.svg);
      }

      .linkedin {
        content: url(../../assets/linkedin.svg);
      }

      .paper {
        content: url(../../assets/paper.svg);
      }
    }
  }

  .recycle-bin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 3rem;
    right: 0rem;

    img {
      content: url(../../assets/recycle_bin.svg);
    }

    img {
      width: 35px;
      height: 35px;
    }

    h3 {
      line-break: anywhere;
      color: var(--white);
      font-family: var(--font1);
      font-weight: 200;
      font-size: 0.7rem;
    }
  }
}

.clicked {

  .selection-effect-about {
    display: block;
    position: absolute;
    width: 34px;
    height: 35px;
    left: 0;
    bottom: 0;
    mask-image: url(../../assets/notepad.svg);
    -webkit-mask-image: url(../../assets/notepad.svg);
    background-color: rgb(0, 0, 128);
    opacity: 0.5;
    transform: translate(95%, -527%);
  }
  .selection-effect-projects {
    display: block;
    position: absolute;
    width: 34px;
    height: 35px;
    left: 0;
    bottom: 0;
    mask-image: url(../../assets/folder.svg);
    -webkit-mask-image: url(../../assets/folder.svg);
    background-color: rgb(0, 0, 128);
    opacity: 0.5;
    transform: translate(95%, -315%);
  }

  .selection-effect-resume {
    display: block;
    position: absolute;
    width: 34px;
    height: 35px;
    left: 0;
    bottom: 0;
    mask-image: url(../../assets/paper.svg);
    -webkit-mask-image: url(../../assets/paper.svg);
    background-color: rgb(0, 0, 128);
    opacity: 0.5;
    transform: translate(95%, -100%);
  }
  .selection-effect-recycle {
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    top: 0;
    mask-image: url(../../assets/recycle_bin.svg);
    -webkit-mask-image: url(../../assets/recycle_bin.svg);
    background-color: rgb(0, 0, 128);
    opacity: 0.5;
    transform: translate(90%, 0);
  }

  h3 {
    background-color: var(--dark-blue);
    outline: 1px dotted #d6e424;
  }
}
